EapEventProcessing/src/test/resources/berman.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" >
          <!-- XML Schema Generated from XML Document on Tue Feb 12 2013 18:36:28 GMT+0100 (Mitteleuropäische Zeit) -->
          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
       <xs:element name="env:unEdifact" >
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="env:UNB" >
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="env:syntaxIdentifier" >
                                                        <xs:complexType>
                                                               <xs:sequence>
                                                                      <xs:element name="env:id" type="xs:string" />
                                                                      <xs:element name="env:versionNum" type="xs:int" />
                                                                  </xs:sequence>
                                                           </xs:complexType>
                                                    </xs:element>
                                                 <xs:element name="env:sender" >
                                                        <xs:complexType>
                                                               <xs:sequence>
                                                                      <xs:element name="env:id" type="xs:string" />
                                                                  </xs:sequence>
                                                           </xs:complexType>
                                                    </xs:element>
                                                 <xs:element name="env:recipient" >
                                                        <xs:complexType>
                                                               <xs:sequence>
                                                                      <xs:element name="env:id" type="xs:string" />
                                                                  </xs:sequence>
                                                           </xs:complexType>
                                                    </xs:element>
                                                 <xs:element name="env:dateTime" >
                                                        <xs:complexType>
                                                               <xs:sequence>
                                                                      <xs:element name="env:date" type="xs:int" />
                                                                      <xs:element name="env:time" type="xs:int" />
                                                                  </xs:sequence>
                                                           </xs:complexType>
                                                    </xs:element>
                                                 <xs:element name="env:controlRef" type="xs:string" />
                                             </xs:sequence>
                                      </xs:complexType>
                               </xs:element>
                            <xs:element name="env:interchangeMessage" >
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="env:UNH" >
                                                        <xs:complexType>
                                                               <xs:sequence>
                                                                      <xs:element name="env:messageRefNum" type="xs:string" />
                                                                      <xs:element name="env:messageIdentifier" >
                                                                             <xs:complexType>
                                                                                    <xs:sequence>
                                                                                           <xs:element name="env:id" type="xs:string" />
                                                                                           <xs:element name="env:versionNum" type="xs:string" />
                                                                                           <xs:element name="env:releaseNum" type="xs:string" />
                                                                                           <xs:element name="env:controllingAgencyCode" type="xs:string" />
                                                                                           <xs:element name="env:associationAssignedCode" type="xs:string" />
                                                                                       </xs:sequence>
                                                                                </xs:complexType>
                                                                         </xs:element>
                                                                  </xs:sequence>
                                                           </xs:complexType>
                                                    </xs:element>
                                                 <xs:element name="berman:BERMAN" >
                                                        <xs:complexType>
                                                               <xs:sequence>
                                                                      <xs:element name="berman:BGM" >
                                                                             <xs:complexType>
                                                                                    <xs:sequence>
                                                                                           <xs:element name="c:C002" >
                                                                                                  <xs:complexType>
                                                                                                         <xs:sequence>
                                                                                                                <xs:element name="c:e1001" type="xs:int" />
                                                                                                            </xs:sequence>
                                                                                                     </xs:complexType>
                                                                                              </xs:element>
                                                                                           <xs:element name="c:C106" >
                                                                                                  <xs:complexType>
                                                                                                         <xs:sequence>
                                                                                                                <xs:element name="c:e1004" type="xs:string" />
                                                                                                            </xs:sequence>
                                                                                                     </xs:complexType>
                                                                                              </xs:element>
                                                                                           <xs:element name="c:e1225" type="xs:int" />
                                                                                       </xs:sequence>
                                                                                </xs:complexType>
                                                                         </xs:element>
                                                                      <xs:element name="berman:DTM" >
                                                                             <xs:complexType>
                                                                                    <xs:sequence>
                                                                                           <xs:element name="c:C507" >
                                                                                                  <xs:complexType>
                                                                                                         <xs:sequence>
                                                                                                                <xs:element name="c:e2005" type="xs:int" />
                                                                                                                <xs:element name="c:e2380" type="xs:int" />
                                                                                                                <xs:element name="c:e2379" type="xs:int" />
                                                                                                            </xs:sequence>
                                                                                                     </xs:complexType>
                                                                                              </xs:element>
                                                                                       </xs:sequence>
                                                                                </xs:complexType>
                                                                         </xs:element>
                                                                      <xs:element name="berman:Segment_group_1" maxOccurs="unbounded" >
                                                                             <xs:complexType>
                                                                                    <xs:sequence>
                                                                                           <xs:element name="berman:NAD" >
                                                                                                  <xs:complexType>
                                                                                                         <xs:sequence>
                                                                                                                <xs:element name="c:e3035" type="xs:string" />
                                                                                                                <xs:element name="c:C082" >
                                                                                                                       <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                     <xs:element name="c:e3039" type="xs:string" />
                                                                                                                                 </xs:sequence>
                                                                                                                          </xs:complexType>
                                                                                                                   </xs:element>
                                                                                                                <xs:element name="c:C058" >
                                                                                                                       <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                     <xs:element name="c:e3124_-_-1" type="xs:string" />
                                                                                                                                     <xs:element name="c:e3124_-_-3" type="xs:string" />
                                                                                                                                     <xs:element name="c:e3124_-_-5" type="xs:string" />
                                                                                                                                 </xs:sequence>
                                                                                                                          </xs:complexType>
                                                                                                                   </xs:element>
                                                                                                            </xs:sequence>
                                                                                                     </xs:complexType>
                                                                                              </xs:element>
                                                                                           <xs:element name="berman:Segment_group_2" >
                                                                                                  <xs:complexType>
                                                                                                         <xs:sequence>
                                                                                                                <xs:element name="berman:CTA" >
                                                                                                                       <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                     <xs:element name="c:e3139" type="xs:string" />
                                                                                                                                     <xs:element name="c:C056" >
                                                                                                                                            <xs:complexType>
                                                                                                                                                   <xs:sequence>
                                                                                                                                                          <xs:element name="c:e3412" type="xs:string" />
                                                                                                                                                      </xs:sequence>
                                                                                                                                               </xs:complexType>
                                                                                                                                        </xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                          </xs:complexType>
                                                                                                                   </xs:element>
                                                                                                                <xs:element name="berman:COM" maxOccurs="unbounded" >
                                                                                                                       <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                     <xs:element name="c:C076" >
                                                                                                                                            <xs:complexType>
                                                                                                                                                   <xs:sequence>
                                                                                                                                                          <xs:element name="c:e3148" type="xs:string" />
                                                                                                                                                          <xs:element name="c:e3155" type="xs:string" />
                                                                                                                                                      </xs:sequence>
                                                                                                                                               </xs:complexType>
                                                                                                                                        </xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                          </xs:complexType>
                                                                                                                   </xs:element>
                                                                                                            </xs:sequence>
                                                                                                     </xs:complexType>
                                                                                              </xs:element>
                                                                                       </xs:sequence>
                                                                                </xs:complexType>
                                                                         </xs:element>
                                                                      <xs:element name="berman:Segment_group_3" >
                                                                             <xs:complexType>
                                                                                    <xs:sequence>
                                                                                           <xs:element name="berman:TDT" >
                                                                                                  <xs:complexType>
                                                                                                         <xs:sequence>
                                                                                                                <xs:element name="c:e8051" type="xs:int" />
                                                                                                                <xs:element name="c:e8028" type="xs:string" />
                                                                                                                <xs:element name="c:C220" >
                                                                                                                       <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                     <xs:element name="c:e8067" type="xs:int" />
                                                                                                                                 </xs:sequence>
                                                                                                                          </xs:complexType>
                                                                                                                   </xs:element>
                                                                                                                <xs:element name="c:C001" >
                                                                                                                       <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                     <xs:element name="c:e8179" type="xs:int" />
                                                                                                                                 </xs:sequence>
                                                                                                                          </xs:complexType>
                                                                                                                   </xs:element>
                                                                                                                <xs:element name="c:C040" >
                                                                                                                       <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                     <xs:element name="c:e3127" type="xs:string" />
                                                                                                                                 </xs:sequence>
                                                                                                                          </xs:complexType>
                                                                                                                   </xs:element>
                                                                                                                <xs:element name="c:C222" >
                                                                                                                       <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                     <xs:element name="c:e8213" type="xs:int" />
                                                                                                                                     <xs:element name="c:e8212" type="xs:string" />
                                                                                                                                     <xs:element name="c:e8453" type="xs:string" />
                                                                                                                                 </xs:sequence>
                                                                                                                          </xs:complexType>
                                                                                                                   </xs:element>
                                                                                                            </xs:sequence>
                                                                                                     </xs:complexType>
                                                                                              </xs:element>
                                                                                           <xs:element name="berman:RFF" maxOccurs="unbounded" >
                                                                                                  <xs:complexType>
                                                                                                         <xs:sequence>
                                                                                                                <xs:element name="c:C506" >
                                                                                                                       <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                     <xs:element name="c:e1153" type="xs:string" />
                                                                                                                                     <xs:element name="c:e1154" type="xs:string" />
                                                                                                                                 </xs:sequence>
                                                                                                                          </xs:complexType>
                                                                                                                   </xs:element>
                                                                                                            </xs:sequence>
                                                                                                     </xs:complexType>
                                                                                              </xs:element>
                                                                                           <xs:element name="berman:MEA" maxOccurs="unbounded" >
                                                                                                  <xs:complexType>
                                                                                                         <xs:sequence>
                                                                                                                <xs:element name="c:e6311" type="xs:string" />
                                                                                                                <xs:element name="c:C502" >
                                                                                                                       <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                     <xs:element name="c:e6313" type="xs:string" />
                                                                                                                                 </xs:sequence>
                                                                                                                          </xs:complexType>
                                                                                                                   </xs:element>
                                                                                                                <xs:element name="c:C174" >
                                                                                                                       <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                     <xs:element name="c:e6411" type="xs:string" />
                                                                                                                                     <xs:element name="c:e6314" type="xs:int" />
                                                                                                                                 </xs:sequence>
                                                                                                                          </xs:complexType>
                                                                                                                   </xs:element>
                                                                                                            </xs:sequence>
                                                                                                     </xs:complexType>
                                                                                              </xs:element>
                                                                                           <xs:element name="berman:FTX" maxOccurs="unbounded" >
                                                                                                  <xs:complexType>
                                                                                                         <xs:sequence>
                                                                                                                <xs:element name="c:e4451" type="xs:string" />
                                                                                                                <xs:element name="c:C107" >
                                                                                                                       <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                     <xs:element name="c:e4441" type="xs:string" />
                                                                                                                                 </xs:sequence>
                                                                                                                          </xs:complexType>
                                                                                                                   </xs:element>
                                                                                                                <xs:element name="c:C108" >
                                                                                                                       <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                     <xs:element name="c:e4440_-_-1" type="xs:string" />
                                                                                                                                 </xs:sequence>
                                                                                                                          </xs:complexType>
                                                                                                                   </xs:element>
                                                                                                            </xs:sequence>
                                                                                                     </xs:complexType>
                                                                                              </xs:element>
                                                                                           <xs:element name="berman:Segment_group_4" maxOccurs="unbounded" >
                                                                                                  <xs:complexType>
                                                                                                         <xs:sequence>
                                                                                                                <xs:element name="berman:LOC" >
                                                                                                                       <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                     <xs:element name="c:e3227" type="xs:int" />
                                                                                                                                     <xs:element name="c:C517" >
                                                                                                                                            <xs:complexType>
                                                                                                                                                   <xs:sequence>
                                                                                                                                                          <xs:element name="c:e3225" type="xs:string" />
                                                                                                                                                      </xs:sequence>
                                                                                                                                               </xs:complexType>
                                                                                                                                        </xs:element>
                                                                                                                                     <xs:element name="c:C519" >
                                                                                                                                            <xs:complexType>
                                                                                                                                                   <xs:sequence>
                                                                                                                                                          <xs:element name="c:e3223" type="xs:string" />
                                                                                                                                                      </xs:sequence>
                                                                                                                                               </xs:complexType>
                                                                                                                                        </xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                          </xs:complexType>
                                                                                                                   </xs:element>
                                                                                                                <xs:element name="berman:DTM" >
                                                                                                                       <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                     <xs:element name="c:C507" >
                                                                                                                                            <xs:complexType>
                                                                                                                                                   <xs:sequence>
                                                                                                                                                          <xs:element name="c:e2005" type="xs:int" />
                                                                                                                                                          <xs:element name="c:e2380" type="xs:int" />
                                                                                                                                                          <xs:element name="c:e2379" type="xs:int" />
                                                                                                                                                      </xs:sequence>
                                                                                                                                               </xs:complexType>
                                                                                                                                        </xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                          </xs:complexType>
                                                                                                                   </xs:element>
                                                                                                            </xs:sequence>
                                                                                                     </xs:complexType>
                                                                                              </xs:element>
                                                                                       </xs:sequence>
                                                                                </xs:complexType>
                                                                         </xs:element>
                                                                      <xs:element name="berman:Segment_group_7" maxOccurs="unbounded" >
                                                                             <xs:complexType>
                                                                                    <xs:sequence>
                                                                                           <xs:element name="berman:TSR" >
                                                                                                  <xs:complexType>
                                                                                                         <xs:sequence>
                                                                                                                <xs:element name="c:C233" >
                                                                                                                       <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                     <xs:element name="c:e7273_-_-1" type="xs:string" />
                                                                                                                                 </xs:sequence>
                                                                                                                          </xs:complexType>
                                                                                                                   </xs:element>
                                                                                                            </xs:sequence>
                                                                                                     </xs:complexType>
                                                                                              </xs:element>
                                                                                           <xs:element name="berman:QTY" maxOccurs="unbounded" >
                                                                                                  <xs:complexType>
                                                                                                         <xs:sequence>
                                                                                                                <xs:element name="c:C186" >
                                                                                                                       <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                     <xs:element name="c:e6063" type="xs:int" />
                                                                                                                                     <xs:element name="c:e6060" type="xs:int" />
                                                                                                                                 </xs:sequence>
                                                                                                                          </xs:complexType>
                                                                                                                   </xs:element>
                                                                                                            </xs:sequence>
                                                                                                     </xs:complexType>
                                                                                              </xs:element>
                                                                                           <xs:element name="berman:Segment_group_8" >
                                                                                                  <xs:complexType>
                                                                                                         <xs:sequence>
                                                                                                                <xs:element name="berman:LOC" >
                                                                                                                       <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                     <xs:element name="c:e3227" type="xs:int" />
                                                                                                                                     <xs:element name="c:C517" >
                                                                                                                                            <xs:complexType>
                                                                                                                                                   <xs:sequence>
                                                                                                                                                          <xs:element name="c:e3225" type="xs:string" />
                                                                                                                                                      </xs:sequence>
                                                                                                                                               </xs:complexType>
                                                                                                                                        </xs:element>
                                                                                                                                     <xs:element name="c:C519" >
                                                                                                                                            <xs:complexType>
                                                                                                                                                   <xs:sequence>
                                                                                                                                                          <xs:element name="c:e3223" type="xs:string" />
                                                                                                                                                      </xs:sequence>
                                                                                                                                               </xs:complexType>
                                                                                                                                        </xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                          </xs:complexType>
                                                                                                                   </xs:element>
                                                                                                                <xs:element name="berman:DTM" >
                                                                                                                       <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                     <xs:element name="c:C507" >
                                                                                                                                            <xs:complexType>
                                                                                                                                                   <xs:sequence>
                                                                                                                                                          <xs:element name="c:e2005" type="xs:int" />
                                                                                                                                                          <xs:element name="c:e2380" type="xs:int" />
                                                                                                                                                          <xs:element name="c:e2379" type="xs:int" />
                                                                                                                                                      </xs:sequence>
                                                                                                                                               </xs:complexType>
                                                                                                                                        </xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                          </xs:complexType>
                                                                                                                   </xs:element>
                                                                                                                <xs:element name="berman:QTY" >
                                                                                                                       <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                     <xs:element name="c:C186" >
                                                                                                                                            <xs:complexType>
                                                                                                                                                   <xs:sequence>
                                                                                                                                                          <xs:element name="c:e6063" type="xs:int" />
                                                                                                                                                          <xs:element name="c:e6060" type="xs:int" />
                                                                                                                                                      </xs:sequence>
                                                                                                                                               </xs:complexType>
                                                                                                                                        </xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                          </xs:complexType>
                                                                                                                   </xs:element>
                                                                                                                <xs:element name="berman:POC" >
                                                                                                                       <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                     <xs:element name="c:C525" >
                                                                                                                                            <xs:complexType>
                                                                                                                                                   <xs:sequence>
                                                                                                                                                          <xs:element name="c:e8025" type="xs:string" />
                                                                                                                                                      </xs:sequence>
                                                                                                                                               </xs:complexType>
                                                                                                                                        </xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                          </xs:complexType>
                                                                                                                   </xs:element>
                                                                                                                <xs:element name="berman:Segment_group_9" maxOccurs="unbounded" >
                                                                                                                       <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                     <xs:element name="berman:HAN" >
                                                                                                                                            <xs:complexType>
                                                                                                                                                   <xs:sequence>
                                                                                                                                                          <xs:element name="c:C524" >
                                                                                                                                                                 <xs:complexType>
                                                                                                                                                                        <xs:sequence>
                                                                                                                                                                               <xs:element name="c:e4079" type="xs:string" />
                                                                                                                                                                               <xs:element name="c:e4078" type="xs:string" />
                                                                                                                                                                           </xs:sequence>
                                                                                                                                                                    </xs:complexType>
                                                                                                                                                             </xs:element>
                                                                                                                                                      </xs:sequence>
                                                                                                                                               </xs:complexType>
                                                                                                                                        </xs:element>
                                                                                                                                     <xs:element name="berman:NAD" >
                                                                                                                                            <xs:complexType>
                                                                                                                                                   <xs:sequence>
                                                                                                                                                          <xs:element name="c:e3035" type="xs:string" />
                                                                                                                                                          <xs:element name="c:C082" >
                                                                                                                                                                 <xs:complexType>
                                                                                                                                                                        <xs:sequence>
                                                                                                                                                                               <xs:element name="c:e3039" type="xs:string" />
                                                                                                                                                                           </xs:sequence>
                                                                                                                                                                    </xs:complexType>
                                                                                                                                                             </xs:element>
                                                                                                                                                          <xs:element name="c:C058" >
                                                                                                                                                                 <xs:complexType>
                                                                                                                                                                        <xs:sequence>
                                                                                                                                                                               <xs:element name="c:e3124_-_-1" type="xs:string" />
                                                                                                                                                                               <xs:element name="c:e3124_-_-3" type="xs:string" />
                                                                                                                                                                               <xs:element name="c:e3124_-_-5" type="xs:string" />
                                                                                                                                                                           </xs:sequence>
                                                                                                                                                                    </xs:complexType>
                                                                                                                                                             </xs:element>
                                                                                                                                                      </xs:sequence>
                                                                                                                                               </xs:complexType>
                                                                                                                                        </xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                          </xs:complexType>
                                                                                                                   </xs:element>
                                                                                                            </xs:sequence>
                                                                                                     </xs:complexType>
                                                                                              </xs:element>
                                                                                       </xs:sequence>
                                                                                </xs:complexType>
                                                                         </xs:element>
                                                                  </xs:sequence>
                                                           </xs:complexType>
                                                    </xs:element>
                                                 <xs:element name="env:UNT" >
                                                        <xs:complexType>
                                                               <xs:sequence>
                                                                      <xs:element name="env:segmentCount" type="xs:int" />
                                                                      <xs:element name="env:messageRefNum" type="xs:string" />
                                                                  </xs:sequence>
                                                           </xs:complexType>
                                                    </xs:element>
                                             </xs:sequence>
                                          <xs:attribute name="xmlns:c" type="xs:string" />
                                          <xs:attribute name="xmlns:berman" type="xs:string" />
                                      </xs:complexType>
                               </xs:element>
                            <xs:element name="env:UNZ" >
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="env:controlCount" type="xs:int" />
                                                 <xs:element name="env:controlRef" type="xs:string" />
                                             </xs:sequence>
                                      </xs:complexType>
                               </xs:element>
                        </xs:sequence>
                     <xs:attribute name="xmlns:env" type="xs:string" />
                     <xs:attribute name="xmlns:xsi" type="xs:string" />
                     <xs:attribute name="xsi:noNamespaceSchemaLocation" type="xs:string" />
                 </xs:complexType>
          </xs:element>
   </xs:schema>