EapWebInterface/src/main/resources/predefinedEventTypes/AttributeRemoved.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="AttributeRemoved.xsd" targetNamespace="AttributeRemoved.xsd"
           elementFormDefault="qualified">
    <xs:element name="AttributeRemoved">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="timestamp" type="xs:date"/>
                <xs:element name="thingId" type="xs:string"/>
                <xs:element name="attribute" type="xs:string"/>
                <xs:element name="attributeValue" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>