EapWebInterface/src/main/resources/predefinedEventTypes/FeatureChanged.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="FeatureChanged.xsd" targetNamespace="FeatureChanged.xsd"
           elementFormDefault="qualified">
    <xs:element name="FeatureChanged">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="timestamp" type="xs:date"/>
                <xs:element name="thingId" type="xs:string"/>
                <xs:element name="feature" type="xs:string"/>
                <xs:element name="featureValue" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>