EapWebInterface/src/main/resources/predefinedEventTypes/ThingAdded.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="ThingAdded.xsd" targetNamespace="ThingAdded.xsd"
           elementFormDefault="qualified">
    <xs:element name="ThingAdded">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="timestamp" type="xs:date"/>
                <xs:element name="thingId" type="xs:string"/>
                <xs:element name="policyId" type="xs:string"/>
                <xs:element name="attributes" type="xs:string"/>
                <xs:element name="features" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>