EPP_Benchmark/WebContent/META-INF/xsd/unexpectedtrafficGETService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="unexpectedTrafficGETService.xsd" targetNamespace="unexpectedTrafficGETService.xsd" elementFormDefault="qualified">
   <annotation>
        <appinfo>Important Note</appinfo>
        <documentation xml:lang="en">
            The delay is given in minutes as integer.
        </documentation>
    </annotation>
    <xs:element name="unexpectedTraffic">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="source" type="xs:integer"/>
                <xs:element name="delay" type="xs:integer"/>
                <xs:element name="Timestamp" type="xs:date"/>
                <xs:element name="coordinate">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="latitude" type="xs:string"/>
                            <xs:element name="longitude" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>